# ---- Moodle ----
MOODLE_VERSION=5.2.1
MOODLE_BRANCH=502
MOODLE_HOST=moodle.localhost
MOODLE_WWWROOT=https://moodle.localhost

# ---- Admin Moodle (cumpre policy: 8+ chars, maiúscula, minúscula, número, símbolo) ----
MOODLE_ADMIN_USER=admin
MOODLE_ADMIN_PASS=Admin123!
MOODLE_ADMIN_EMAIL=admin@example.com
MOODLE_FULLNAME="Moodle Dev"
MOODLE_SHORTNAME=moodle

# ---- Banco ----
DB_NAME=moodle
DB_USER=moodle
DB_PASSWORD=moodle
DB_ROOT_PASSWORD=root

# ---- Build ----
NODE_VERSION=22

# ---- Portas host ----
HTTP_PORT=8080
HTTPS_PORT=443
PMA_PORT=8081
MAILPIT_PORT=8025
